body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  background-color: aqua;
  border-width: 15px;
  border-style: groove;
  border-color: red;
  border-radius: 10px;
  width: 100%;
}
#row1{
  background-color: rgb(135, 241, 135);
  text-align: center;
}
#row2{
  background-color: rgb(255, 150, 150);
  text-align: center;
}
#heading{
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.1rem;
  font-family: "Lato",sans-serif;
}