.container{
  height: 100vh;
  width: 100vw;
  background-color: rgb(199, 223, 225);
  padding-top: 1rem;
}
.nav{
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}
.header{
  font-size: 2rem;
  /* text-align: center; */
  /* padding: 1rem; */
}
.body{
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
}
.logout{
  font-size: 1rem;
  color: black;
  border: 1px solid;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.logout:hover{
  background-color: white;
  color: rgb(24, 24, 24);
}