
.movie-list {
  width: 100%;
  padding: 1rem 0;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: black;
}
.movie-card {
  margin: 0 10px;
  cursor: pointer;
  width: 20vw;
  min-width: 200px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}
.image {
  padding: 1rem 0;
  /* height: 80%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-card img {
  width: 60%;
  border-radius: 5px;
  background-size: cover;
}
.movie-info {
  background-color: #b5b9b0;
  color: black;
  /* text-align: center; */
  color: rgb(202, 1, 1);
  padding: 0 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4 {
  font-size: 1.2rem;
  color: rgb(19, 3, 92);
}
span {
  color: black;
}
@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
}
@media (max-width:625px) {
  * {
    font-size: 12px;
  }
}